.detail_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail_box span{
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}