
.container{
  margin: auto;
  max-width: 1200px;
}

.card_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  gap: 20px;
}

.card{
  width: 100%;
}

.card_img{
  height: 50%;
}

.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_body{
  padding: 1rem;
}