*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav{
    color: black;
    background-color: slategray;
    width: 100%;
    text-align: center;
    font-size: medium;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    color: black;
    background-color: yellow;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}