a{
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

li{
    list-style-type: none;
}



.usercard{
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

.usercard div{
    border: 1px solid black;
    cursor: pointer;
    background-color: #9aa0a1;
    border-radius: 8px;
}

.usercard div img{
    height: 300px;
    width: 300px;
}

.usercard div h2{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.usercard div p{
    padding: 10px 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.singleProduct{
    border: 1px solid black;
    padding: 15px;
    display: flex;
    align-items: center;

}

.singleProduct div{
    flex-grow: 1;
    width: 50%;
}

.singleProduct img{
    height: 300px;
    width: 300px;
}

/* .bredcrumb_container{
    background-color: #dee0e0;
    height: 90vh;
}

.heading_bredcrumb{
    padding: 8px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bredcrumb ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
} */
/* 
.bredcrumb ul li a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
} */

.breadcrumb{
    display: flex;
    background-color: #9aa0a1;
    color: black;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.breadcrumb_ul li a:hover{
    color: red;
    text-decoration: underline;
}

.breadcrumb_ul li+li::before{
    padding: 4px;
    content: "/";
}