
.slide-in-right {
    animation: slideInRight 0.5s forwards !important;
  }
  
  .slide-in-left {
    animation: slideInLeft 0.5s forwards !important;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }